.App{
  margin-left: 20vw;
}
.header{
  height: 150px;
  width: 100vw;
  border: groove;
}
h1{
  margin-left: 480px;
}
.bookmark{
  margin-left: 80vw;
  
 
}
button{
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: aliceblue;
  margin-left: 20px;

}
input{
  height: 20px;
  width: 70vw;
  margin-left: 40px;
  border: groove;
  border-radius: 20px;
}
.gallery{
  display: flex;
 
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  padding: 10px 20px 10px 10px;
  margin-top: 20px;
}
img{
  height: 400px;
  width:600px;
}
